<!DOCTYPE html>
<html lang="ko">
  <%- include("../includes/head", { pageTitle: "Success" }) %>

  <body>
    <%- include("../includes/header") %>

    <main>
        <section class="notice">
          <ul>
            <li>
              <h1>비밀번호 찾기에 실패했습니다.</h1>
            </li>
            <li>
              <p>입력값을 다시 확인해 주십시오.</p>
            </li>
            <li>
              <a class="btn btn-light" href="/">메인으로</a>
            </li>
          </ul>
        </section>
      </main>

      <%- include("../includes/footer") %>
  </body>
</html>
