<!DOCTYPE html>
<html lang="ko">
  <%- include("../includes/head", { pageTitle: "Success" }) %>

  <body>
    <%- include("../includes/header") %>

    <main>
        <section class="notice">
          <ul>
            <li>
              <h1>비밀번호가 변경되었습니다.</h1>
            </li>
            <li>
              <a class="btn btn-light" href="/">메인으로</a>
            </li>
          </ul>
        </section>
      </main>

      <%- include("../includes/footer") %>
  </body>
</html>
