<!DOCTYPE html>
<html lang="ko">
  <%- include("../includes/head", { pageTitle: "Email" }) %>

  <body>
    <%- include("../includes/header") %>

    <main>
      <section class="notice">
        <ul>
          <li>
            <h1>Email: tief125@naver.com</h1>
          </li>
          <li>
            <p>문의는 위 이메일로 부탁드립니다.</p>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
