<!DOCTYPE html>
<html lang="ko">
  <%- include("../includes/head", { pageTitle: "License" }) %>

  <body>
    <%- include("../includes/header") %>

    <main>
      <section id="licesne-title" class="title">
        <h1>Image License</h1>
        <hr />
      </section>

      <section id="license-text" class="license-text">
        <ul>
          <li>
            <h2>뇌 이미지 - Unsplash 라이선스</h2>
            <p>Unsplash의 Milad Fakurian</p>
          </li>
          <li>
            <h2>전구 이미지 - Unsplash 라이선스</h2>
            <p>Unsplash의 Diego PH</p>
          </li>
          <li>
            <h2>Tief Logo - 직접 제작</h2>
            <p>Copyright 2024. Tief. all rights reserved.</p>
          </li>
        </ul>
      </section>
    </main>

    <%- include("../includes/footer") %>
  </body>
</html>
