<footer>
  <ul>
    <li id="footer-btn-list">
      <a class="btn btn-light" href="/blog-list">Blog</a>
      <a class="btn btn-light" target="_blank" href="https://github.com/Ctist125">Git Hub</a>
      <a class="btn btn-light" href="/email">E-mail</a>
    </li>
    <li>
        <p>Copyright 2024. Tief. all rights reserved.</p>
    </li>
    <li>
        <a class="license" href="/image-license">Image License</a>
        <a class="license" href="/font-license">Font License</a>
        <a class="license" href="/view-terms">이용 약관</a>
    </li>
  </ul>
</footer>
