<header>
  <ul>
    <li id="logo">
      <a href="/">
        <img src="/resource/system-image/logo_no_text.png" alt="Logo image" />
        <p>Tief's Portfolio</p>
      </a>
    </li>
    <li id="header-menu">
      <button type="button">
        <div></div>
        <div></div>
        <div></div>
      </button>

      <div id="basic-menu">
        <%- include("../includes/menu-item") %>
      </div>
    </li>
  </ul>
</header>

<aside id="mobile-menu">
  <%- include("../includes/menu-item") %>
</aside>
