<!DOCTYPE html>
<html lang="ko">
  <%- include("../includes/head", { pageTitle: "Error" }) %>

  <body>
    <%- include("../includes/header") %>

    <main>
      <section class="notice">
        <ul>
          <li>
            <h1>Error code: 403</h1>
          </li>
          <li>
            <p>권한이 필요한 서비스입니다.</p>
          </li>
          <li>
            <a class="btn btn-light" href="/">메인으로</a>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
