<ul>
  <li>
    <h3>제1조(목적)</h3>
    <p>
      1. 현행법에 의거 만 14세 미만 아동의 경우 법적 보호자의 동의하에 정보
      수집이 이루어져야 합니다.
    </p>
    <p>
      -
      <strong
        >Tief's Portfolio는 따로 만 14세 미만의 아동에 대한 회원가입을 받지 않고
        있습니다.</strong
      >
    </p>
  </li>
  <li>
    <h3>제2조(만 14세 미만 아동 여부 확인)</h3>
    <p>
      <strong
        >1. Tief's Portfolio는 제한된 회원을 받고 있으며, 만 14세 이하에
        해당하는 회원 또한 받지 않고 있습니다.</strong
      >
    </p>
    <p>
      - 제한된 회원이란 운영자(Tief)와 사전에 협의가 된 회원으로 해당하지 않는
      이용자는 회원가입 시도조차 못하게됩니다.
    </p>
  </li>
</ul>
