<ul>
  <li>
    <h3>제1조(정의)</h3>
    <p>1. 로그(log)</p>
    <p>- 로그(log)란 사용자의 IP, 행동, 시간 등을 포함한 정보를 의미합니다.</p>
  </li>
  <li>
    <h3>제2조(로그 처리 목적)</h3>
    <p>
      1. Tief's Portfolio는 다음 목적을 위해 로그 정보를 처리하고 있습니다. 로그
      정보는 다음 목적 이외에는 사용되지 않으며, 이용 목적이 변경되는 경우에는
      따로 동의를 구하겠습니다.
    </p>
    <p>- 보안 공격 탐지 및 차단</p>
    <p>
      Tief's Portfolio는 로그 정보를 통해 사이트의 비정상적 동작을 감지,
      차단하고 있습니다.
    </p>
    <p>- 서버 오류 탐지 및 개선</p>
    <p>
      Tief's Portfolio는 로그 정보를 통해 서버 오류를 탐지, 개선하고 있습니다.
    </p>
    <p>- 통신비밀보호법</p>
    <p>
      Tief's Portfolio는 '통신비밀보호법'에 따라 로그 정보를 저장하고 있습니다.
    </p>
  </li>
  <li>
    <h3>제3조(로그 정보 처리 및 보유 기간)</h3>
    <p>
      1. Tief's Portfolio는 로그 정보를 행동을 한 시점으로부터 3개월 동안
      보유하고 있습니다.
    </p>
    <p>
      - 통신비밀보호법 시행령 제41조'에 따라 접속기록, IP주소 등은 최소
      3개월동안 보존될 수 있습니다.
    </p>
    <p>
      - 명의도용 사실을 입증하기 위해 로그 정보를 요청할 경우, 따로 동의를 받은
      기간 동안 기록을 보관할 수 있습니다.
    </p>
    <p>
      - 정보 처리 시스템 접근에 대한 로그는 2년 동안 분리 보관하고 있습니다.
    </p>
    <p>
      - 개인정보 처리자의 변경사항에 대한 로그는 3년 동안 분리 보관하고
      있습니다.
    </p>
  </li>
  <li>
    <h3>제4조(정보주체와 법정대리인의 권리.의무 및 행사방법)</h3>
    <p>
      1. 정보주체는 Tief's Portfolio에 대해 언제든지 로그 정보를 열람할 수 있는
      권리를 행사할 수 있습니다.
    </p>
    <p>
      2. 제1항에 따른 권리행사는 정보주체 또는 정보주체의 법정대리인에 한 해
      권리를 행사할 수 있습니다. 이 경우 “개인정보 처리 방법에 관한
      고시(제2020-7호)” 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.
    </p>
    <p>
      3. Tief's Portfolio는 정보주체의 권리에 따른 요구에 대해 요청자가 정당한
      권리를 가진 사람인지 확인할 수 있습니다.
    </p>
  </li>
  <li>
    <h3>제5조(처리하는 항목)</h3>
    <p>1. Tief's Portfolio는 다음과 같은 로그의 항목을 처리하고 있습니다.</p>
    <p>- 필수 항목</p>
    <p>IP, 행동, 행동을 한 시간</p>
  </li>
  <li>
    <h3>제6조(개인정보 파기 절차 및 방법에 관한 사항)</h3>
    <p>
      1. Tief's Portfolio는
      <strong
        >로그 정보 보유기간의 경과, 처리목적 달성 등 로그 정보가 불필요하게
        되었을 때에는 지체없이 해당 로그 정보를 파기합니다.</strong
      >
    </p>
    <p>
      2.
      <strong
        >정보주체로부터 동의받은 로그 정보 보유기간이 경과하거나 처리목적이 달
        성되었음에도 불구하고 다른 법령에 따라 로그 정보를 계속 보존하여야 하는
        경우에는, 해당 로그 정보를 별도의 데이터베이스로 옮겨
        보존합니다.</strong
      >
    </p>
    <p>3. 로그 정보 파기의 절차 및 방법은 다음과 같습니다.</p>
    <p>- 파기절차</p>
    <p>
      Tief's Portfolio는 파기 사유가 발생한 로그 정보를 선정하고, Tief's
      Portfolio의 개인정보 보호책임자의 승인을 받아 로그 정보를 파기합니다.
    </p>
    <p>- 파기방법</p>
    <p>
      Tief's Portfolio는 전자적 파일 형태로 기록.저장된 로그 정보 기록을 재생할
      수 없도록 파기합니다.
    </p>
    <p>
      -
      <strong
        >다른 법률에 따라 로그 정보가 파기되지 않고 보존될 수 있습니다.</strong
      >
    </p>
  </li>
  <li>
    <h3>제7조(로그 정보의 안전성 확보조치에 관한 사항)</h3>
    <p>
      1. Tief's Portfolio는 로그 정보의 안전성 확보를 위해 개인정보처리시스템
      등의 접근권한 관리, 데이터 암호화와 같은 조치를 취하고 있습니다.
    </p>
  </li>
  <li>
    <h3>제8조(로그 정보 자동 수집 장치의 설치.운영 및 그 거부에 관한 사항)</h3>
    <p>
      1. Tief's Portfolio는
      <strong
        >사용자에게 편의성을 제공하기 위해, 사용자를 식별할 수 있는 정보와 설정
        등을 '쿠키(Cookie)'와 '세션(Session)'에 저장하고 있습니다.</strong
      >
    </p>
    <p>
      2. 쿠키는 사용자의 웹 브라우저에 저장되는 것으로 서버(Server)와 통신을 할
      때 계속해서 사용되는 정보입니다.
    </p>
    <p>
      -
      <strong>쿠키의 사용 목적: 사용자 식별, 약관 동의 상태 유지 등.</strong>
    </p>
    <p>
      - 쿠키의 설치∙운영 및 거부 : 웹 브라우저의 기능을 통해 쿠키 저장을 거부 할
      수 있습니다.
    </p>
    <p>
      - 쿠키 저장을 거부할 경우 맞춤형 서비스 이용에 어려움이 발생할 수
      있습니다.
    </p>
    <p>
      3. 세션은 쿠키를 통해 사용자에 가할 수 있는 보안적인 위험을 방지하기 위한
      수단 중 하나입니다.
    </p>
    <p>- 세션을 통한 데이터베이스 저장은 2일간 저장됩니다.</p>
    <p>
      4. Tief's Portfolio는 로그 정보를 코드를 통해 자동화해서 관리하고
      있습니다.
    </p>
  </li>
  <li>
    <h3>제9조(개인정보 보호책임자에 관한 사항)</h3>
    <p>
      1. Tief's Portfolio는 개인정보를 처리하는 과정에서 발생할 수 있는 정보
      주체의 불만과 요구사항, 피해 구제 등을 충족시키기 위해 아래와 같이
      책임자의 정보를 표시하고 있습니다.
    </p>
    <strong>
      <p>닉네임: Tief</p>
      <p>이메일: tief125@naver.com</p>
    </strong>
    <p>
      2. Tief's Portfolio는 위 연락처를 통한 사이트 이용 내 이용자들의 개인정보
      처리 관련 문의를 최대한 빠른 시일 내에 처리를 진행하고 있습니다.
    </p>
  </li>
  <li>
    <h3>제10조(개인정보 열람청구를 접수.처리하는 부서)</h3>
    <p>
      1. 정보주체는 '개인정보 보호법' 제35조에 따른 개인 정보의 열람 청구를
      아래의 부서에 할 수 있습니다.
    </p>
    <p>
      - Tief's Portfolio는 정보주체의 개인정보 열람 청구를 신속하게
      도와드리겠습니다.
    </p>
    <strong>
      <p>닉네임: Tief</p>
      <p>이메일: tief125@naver.com</p>
    </strong>
  </li>
  <li>
    <h3>제11조(개인정보 열람 요구 제한 및 거절)</h3>
    <p>
      1. Tief's Portfolio는
      <strong
        >다음에 해당할 경우 개인정보 열람 요구를 제한하거나 거절할 수
        있습니다.</strong
      >
    </p>
    <p>- 다른 사람의 신체, 생명을 해할 수 있다고 판단되는 경우</p>
    <p>- 다른 사람의 재산 또는 이익을 부당하게 침해할 우려가 있는 경우</p>
    <p>
      2. 열람 제한 또는 거절에 대해 이의 제기가 있으신 경우, 개인정보 열람 청구
      부서를 통해 진행해 주시면 됩니다.
    </p>
  </li>
  <li>
    <h3>제12조(권익침해 구제방법)</h3>
    <p>
      1. 정보주체는 개인정보침해로 인한 구제를 받기 위하여
      개인정보분쟁조정위원회, 한국인터넷진흥원 개인정보침해신고센터 등에 분쟁
      해결이나 상담 등을 신청할 수 있습니다.
    </p>
    <p>- 개인정보분쟁조정위원회 : (국번없이) 1833-6972 (www.kopico.go.kr)</p>
    <p>- 개인정보침해신고센터 : (국번없이) 118 (privacy.kisa.or.kr)</p>
    <p>- 대검찰청 : (국번없이) 1301 (www.spo.go.kr)</p>
    <p>- 경찰청 : (국번없이) 182 (cyberbureau.police.go.kr)</p>
    <p>
      2. '개인정보보호법' 제35조(개인정보의 열람), 제36조(개인정보의 정정·삭제),
      제37조(개인정보의 처리정지 등)의 규정에 의한 요구에 대하여 공공기관의 장이
      행한 처분 또는 부작위로 인하여 권리 또는 이익의 침해를 받은 자는 행정
      심판법이 정하는 바에 따라 행정심판을 청구할 수 있습니다.
    </p>
  </li>
  <li>
    <h3>제13조(서비스 오류)</h3>
    <p>
      1. Tief's Portfolio의 경우 다음과 같은 상황에 의해 서비스 장애 및 중지가
      될 수 있습니다.
    </p>
    <p>- 천재지변으로 인한 서비스 장애 및 중지</p>
    <p>- 불법 프로그램 및 해킹 등으로 인한 서비스 장애 및 중지</p>
    <p>- 서비스 장비 교체 및 업그레이드 등으로 인한 서비스 장애 및 중지</p>
    <p>
      2. Tief's Portfolio는 거래 목적, 영리 목적 등에 해당하는 사이트가
      아니므로, 제1항에 의거하는 장애 및 중지로 인한 배상 책임은 없습니다.
    </p>
    <p>
      3. Tief's Portfolio는 자동화된 데이터베이스 백업을 통해 피해를 최소화
      하도록 노력하고 있습니다.
    </p>
  </li>
</ul>
