<ul>
  <li>
    <h3>제1조(정의)</h3>
    <p>1. 기술</p>
    <p>- 제5조 2항의 기술은 HTML, CSS와 같은 개발 언어를 의미합니다.</p>
  </li>
  <li>
    <h3>제2조(목적)</h3>
    <p>
      1. Tief's Portfolio의
      <strong
        >회원가입은 해당 사이트(Tief's Portfolio)를 관리하기 위한
        기능입니다.</strong
      >
    </p>
    <p>2. Tief's Portfolio의 이용자는 다음과 같이 나뉩니다.</p>
    <p>- 비회원</p>
    <p>- 회원</p>
    <p>- 관리자</p>
    <p>- 운영자</p>
  </li>
  <li>
    <h3>제3조(비회원)</h3>
    <p>
      1. Tief's Portfolio는 기본적으로 가입되지 않은 이용자를 비회원으로
      칭합니다.
    </p>
    <p>2. 비회원의 경우 다음 기능을 제한합니다.</p>
    <p>- 서비스 관리(글, 댓글 관리 및 서비스 운영 제한 관리)</p>
    <p>- 회원 관리(회원가입 수락 및 회원 가입 기능 활성화)</p>
  </li>
  <li>
    <h3>제4조(회원)</h3>
    <p>1. Tief's Portfolio에서 회원은 단순 가입만 진행한 회원입니다.</p>
    <p>
      2. Tief's Portfolio에서는 운영자(Tief)의 허가 없이는 회원을 받지 않고
      있으며, 허가 없이 회원가입을 진행한 경우 발생할 수 있는 서비스적인
      불이익은 가입자에게 있습니다.
    </p>
    <p>3. 회원의 경우 비회원에서 다음 기능이 추가됩니다.</p>
    <p>- 로그인(Login) 및 로그아웃(Logout)</p>
    <p>- 회원 탈퇴</p>
  </li>
  <li>
    <h3>제5조(관리자)</h3>
    <p>
      1. Tief's Portfolio에서는 운영자(Tief)에 의해 관리자 권한이 부여됩니다.
    </p>
    <p>2. 관리자의 경우 다음 권한을 제외한 기능을 수행할 수 있습니다.</p>
    <p>- 관리자 권한 부여와 회원 강퇴</p>
    <p>- 글 작성 및 수정</p>
    <p>- 기술 추가 및 제거</p>
    <p>- History 작성 및 수정</p>
    <p>
      3. 관리자의 경우 의도적으로 서비스를 방해하거나(불법 프로그램 사용, 해킹
      등) 손상시킬 경우 법적인 처벌을 받을 수 있습니다.
    </p>
  </li>
  <li>
    <h3>제6조(운영자)</h3>
    <p>1. Tief's Portfolio에서 운영자는 Tief 한 명만 있습니다.</p>
  </li>
  <li>
    <h3>제7조(회원가입)</h3>
    <p>
      1. Tief's Portfolio에서는
      <strong>사전에 허가된 이용자만 회원으로 받고 있습니다.</strong>
    </p>
    <p>2. 회원가입 절차</p>
    <p>- 약관 동의</p>
    <p>- 정보 기입</p>
    <p>- 회원가입</p>
    <p>- 관리자 및 운영자 확인</p>
    <p>- 가입 완료</p>
    <p>3. 관리자 부여</p>
    <p>- 회원가입 완료 후 운영자에 의해 관리자 부여</p>
    <p>4. 회원가입 약관 우회</p>
    <p>
      -
      <strong
        >Tief's Portfolio에서는 약관을 우회하여 회원가입을 하거나, 입력 폼을
        바꾸어 가입을 하더라도 일단은 약관에 동의한 것으로 간주합니다.</strong
      >
    </p>
    <p>
      -
      <strong
        >하지만, 우회한 것이 적발될 경우 법적인 책임을 질 수 있으며, 관리자에
        의해 계정이 삭제 및 제한될 수 있습니다.</strong
      >
    </p>
  </li>
  <li>
    <h3>제8조(장기 미이용자)</h3>
    <p>
      1. Tief's Portfolio에서는
      <strong>1년 이상 미접속자를 기준으로 장기 미이용자로 분류됩니다.</strong>
    </p>
    <p>
      -
      <strong
        >장기 미이용자의 경우 분류 이후 1년 동안 따로 분류 관리되며, 이후 정보가
        파기됩니다.</strong
      >
    </p>
    <p>
      -
      <strong
        >장기 미이용자 변환, 정보 파기 등 각 시기마다 이메일을 통할 알림이
        진행됩니다.</strong
      >
    </p>
  </li>
  <li>
    <h3>제9조(이용 중지 및 강제 탈퇴)</h3>
    <p>
      1. Tief's Portfolio에서는 다음에 해당하는 행위를 할 경우 이용이
      중지됩니다.
    </p>
    <p>- 상의 없이 글(댓글 포함)을 삭제하는 경우</p>
    <p>- 상의 없이 회원을 받는 경우</p>
    <p>- 이유 없이 회원을 탈퇴시키는 경우</p>
    <p>- 서비스 운영을 방해하는 모든 행위</p>
    <p>
      2. Tief's Portfolio에서는 다음 행위를 할 경우 강제 탈퇴 처리되며, 이로
      인한 불이익은 이용자에게 있습니다.
    </p>
    <p>- 서비스 운영을 마비시키는 경우</p>
    <p>- 불법 프로그램을 사용하는 경우</p>
    <p>- 해킹(취약점을 악용하는 모든 행위)</p>
  </li>
  <li>
    <h3>제11조(약관 동의 및 철회)</h3>
    <p>
      1. Tief's Portfolio의 경우 서비스 운영에 필요하다 생각이 되는 필수 약관만
      동의를 구하고 있습니다.
    </p>
    <p>- 동의를 하지 않는 경우 회원 가입이 진행되지 않습니다.</p>
    <p>- 약관 동의 철회의 경우 회원 탈퇴로 이루어지게 됩니다.</p>
  </li>
</ul>
